.grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 38px;
    padding: 24px 80px;
}

.swimmlane{
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 32px;
}

h3{
    word-wrap: anywhere;
}
